{% extends "main.html" %}

{% block header %}
<title>MewCoo | Hyperspectral Image Classification Online Tools</title>
<script src="{{ static_url("bootstrap.file-input.js")}}"></script>
<style>
#main {
    width: 600px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.btn {
    width: 150px;
    text-align: left;
}

</style>
{% end %}

{% block content %}
<div class="container" id="main">
    <h2><p class="text-info">Select the method and Calculate it!</p></h2>
    <hr>
    <form method=post enctype="multipart/form-data" action="/">
        <p style="font-size:20px"><strong>Data File:</strong></p>
        <p>
            <input type="file" name="all_data" title="Upload Your Data" />&nbsp;&nbsp;<a href="/format/c"><span style="font-size:15px">see data format?</span></a>
        </p>
        <p style="font-size:20px"><strong>Classify Method:</strong></p>
        <p>
            <label class="btn btn-primary">
                <input type="radio" name="method" value="SVM" checked="checked" onclick="show('kernel',1)" /> SVM</label>
            <label class="btn btn-primary">
                <input type="radio" name="method" value="Logistic" onclick="show('kernel',0)" /> Logistic</label>
        </p>
        <p>
            <div id="kernel">
                <label class="btn btn-primary">
                    <input type="radio" name="kernel" value="Polynomial" checked="checked" onclick="show('C_gamma',0)" /> Polynomial</label>
                <label class="btn btn-primary">
                    <input type="radio" name="kernel" value="RBF" onclick="show('C_gamma',1)" /> RBF</label>
                <label class="btn btn-primary">
                    <input type="radio" name="kernel" value="Linear" onclick="show('C_gamma',0)" /> Linear</label>
            </div>
        </p>
        <p id="C_gamma" style="display:none;">
            <table width="200">
               <tr height="40">
                <td><span style="font-size:18px"><strong>C</strong></span></td>
                <td><input type="text" name="C" value="1.0" size="16"/></td>
               </tr>
               <tr height="40">
                <td><span style="font-size:18px"><strong>gamma&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span></td>
                <td><input type="text" name="gamma" value="0.0" size="16"/></td>
               </tr>
            </table>
        </p>
        <p id="selected_feature" style="display:none;margin-top: 8px;font-size:inherit">
            <strong style="font-size:18px">Selected Feature&nbsp;</strong><input type="text" name="selected_feature" value="" size="20" style="height:24px" /><span class="text-info" style="font-size:14px">(separated by <code>,</code>)</span>
        </p>
        <input type="submit" class="btn btn-primary" value="Calculate it!" id="submit"/>
        <a id="show_sf">select feature</a>
    </form>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
    $("#show_sf").click(function(){
        $("#selected_feature").slideToggle();
    });
});

function show(id,flag){
    if (flag) {
        document.getElementById(id).style.display = "inline";
    } else {
        document.getElementById(id).style.display = "none";
    }
}
</script>
{% end %}