{% extends "main.html" %}

{% block header %}
<title>Optimization by K-Nearest Neighbors</title>
<script src="{{ static_url("bootstrap.file-input.js")}}"></script>
<style>
#main {
    width: 600px;
}

/*body {
    padding-top: 125px;
}*/

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.btn {
    width: 150px;
    text-align: left;
}

</style>
{% end %}

{% block content %}
<div class="container" id="main">
    <h2><p class="text-info">Optimization by K-Nearest Neighbors Algotithm!</p></h2>
    <hr>
    <form method=post enctype="multipart/form-data" action="/knn">
        <p style="font-size:20px"><strong>Data File:</strong></p>

        <p>
            <input type="file" name="knn_data" title="Upload Your Data" />&nbsp;&nbsp;<a href="/format/r"><span style="font-size:15px">see data format?</span></a>
        </p>
        <p style="font-size:20px"><strong>Edge of K-Neighbors:</strong></p>
        <p>
            <div id="kernel">
                <label class="btn btn-primary">
                    <input type="radio" name="margin" checked="checked" value="1"/> &nbsp;&nbsp;3&nbsp;&nbsp;</label>
                <label class="btn btn-primary">
                    <input type="radio" name="margin" value="2"/> &nbsp;&nbsp;5&nbsp;&nbsp;</label>
                <label class="btn btn-primary">
                    <input type="radio" name="margin" value="3"/> &nbsp;&nbsp;7&nbsp;&nbsp;</label>
            </div>
        </p>

        <input type="submit" class="btn btn-primary" value="Calculate it!" id="submit"/>
    </form>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
});

function show(id,flag){
    if (flag) {
        document.getElementById(id).style.display = "inline";
    } else {
        document.getElementById(id).style.display = "none";
    }
}
</script>
{% end %}